<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Entregas</title>
</head>
<body>
    <h1>Lista de Entregas</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for produto in produtos %}
                <li>
                    {{ produto.descricao }} - {{ produto.unidade_medida }} - {{ produto.quantidade }}
                    <input type="hidden" name="produto_id" value="{{ produto.id }}">
                    <input type="number" name="quantidade_{{ produto.id }}" placeholder="Quantidade" min="0">
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
