<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for produto in produtos %}
            <li>
                {{ produto.descricao }} - {{ produto.unidade_medida }} - {{ produto.quantidade }}
                <form method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="produto_id" value="{{ produto.id }}">
                    <input type="number" name="quantidade" placeholder="Quantidade" required>
                    <button type="submit">Incrementar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
